/* ----------------------------------------------------------------------------------------------------------
Output device: screen, projection
display; position; z-index; float; clear; width; height; overflow; margin; padding; border; background; align; font;
1) HTML tags
2) HTML styles
3) Layout
4) Page: Homepage
5) Others
---------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------------
1) HTML tags
---------------------------------------------------------------------------------------------------------- */

body {text-align:center;}

table {font-size:100%;}

/* ----------------------------------------------------------------------------------------------------------
2) HTML styles
---------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------------
3) Layout
---------------------------------------------------------------------------------------------------------- */

#main {text-align:left;}

#logo span {cursor:hand;}

#search {height:52px;}

.box-01-top {margin-top:10px;}

/* ----------------------------------------------------------------------------------------------------------
4) Page: Homepage
---------------------------------------------------------------------------------------------------------- */

#topstory-list {width:470px;}
#topstory-list img {padding-right:0; margin-right:10px;}

/* ----------------------------------------------------------------------------------------------------------
5) Others
---------------------------------------------------------------------------------------------------------- */

.box {height:1%;}
