---
layout: blog
title: Archives
---
<header id="archive-header">
	<h1 class="alignleft">Archives</h1>
	{% include blog-search.html %}
</header>

{% assign year = nil %}
<div class="tag-cloud">
{% for post in site.posts reverse %}
	{% assign this_year = post.date | date: "%Y" %}
	{% if year == this_year %}
		{% assign year_count = year_count | plus:1 %}
	{% endif %}
	{% if year != this_year or forloop.last %}
		{% unless forloop.first %}
			<a href="#{{ year }}"><span>{{ year }}</span><sup>{{ year_count }}</sup></a>
		{% endunless %}
		{% assign year = this_year %}
		{% assign year_count = 1 %}
	{% endif %}
{% endfor %}
</div>

{% assign year = nil %}
{% for post in site.posts reverse %}
	{% assign year_cur = post.date | date: "%Y" %}
	{% unless year == year_cur %}
		{% assign year = year_cur %}
		{% unless forloop.first %}
			</section>
		{% endunless %}
		{% include blog-year-count.html y=year_cur %}
		<section class="archives"><div id="{{ year_cur }}" class="year">{{ year_cur }}<sup>{{ yc }}</sup></div>
	{% endunless %}
	<article class="archive">
		<h1 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
		<footer>
			<time datetime="{{ post.date | datetime | date_to_xmlschema }}">{{ post.date | date: "%b %e" }}</time>
			<div class="tags">{% include blog-tags.html %}</div>
		</footer>
	</article>
{% endfor %}
</section>